*{
    padding: 0;
    margin: 0;
}
body{
    
}

.navbar{
    background-color: rgba(0, 0, 0, 0.783);
    height: 37px;
    font-weight: 600;
}

.navA ul{ 
    display: flex!important;
    margin-left: 700px;

    
}

li{ list-style: none !important;
    
}

.navA a{
    justify-content: space-between;
    text-decoration: none !important;
    padding: 25px;
    color: rgb(238, 167, 0);
    font-family: Arial, Helvetica, sans-serif;

}


#chart_div1{
    margin-left: 17%;
    margin-top: auto;
    background-color: transparent;
}

.NavImg{
    height: 100px;
    margin-top: -40px;
    width: 1388px;
    margin-left: -42px; 
}
.one{ background-color: rgb(238, 167, 0);
    position:relative;}

h1{
    position: absolute;
    margin-top: -42px;
    font-size: 35px;
    padding-left: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

#ImageB{
    height: 560px;
    width: 100%;
    position: absolute;
    
}
.d-block{
    width: 1387px;
    height: 550px;}

#Hed1{
    position: relative;
    color: black;
    font-weight: 700 !important;
    font-size: 47px !important;
    text-shadow: 1px 1px white;
    padding-top: 60px;
    margin-left: 200px
}

.Par1{
    position: relative;
    padding-bottom: 190px;
    font-size: 21px;
    width: 1000px;
    padding-left: 40px;
    text-align: center;
    font-weight: 600;
    color: rgb(238, 167, 0);
    text-shadow: 0.2px 0.2px black;
    

}

p span{color: black !important;
font-size: 27px !important;
font-weight: 600 !important;}

.MainH1{
    font-family: 'Times New Roman', Times, serif;
    margin: 30px auto;
    color: rgb(238, 167, 0);
    text-align: center;
    max-width: 1400px;
    position: relative;
    

  }
  .MainH1:before {
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background: black;
    top: 50%;
    position: absolute;
  }
  .MainH1:after {
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background: black;
    right: 0;
    top: 50%;
    position: absolute;
  }

  .MainH1 h3{
    font-size: 50px !important;
    text-shadow: 1px 1px black;
  }

  .MainH1 h2{
    font-size: 50px !important;
    text-shadow: 1px 1px black;
  }

  .Footlink ul{ 
    display: flex !important;
    margin-left: 260px;
    

}

.Footlink a {
    text-decoration: none;
    padding: 20px;
    color: rgb(238, 167, 0);
    font-size: 18px;

    
}
 section i {
    color: rgb(238, 167, 0);
 }
  
footer{
    background-color: rgba(0, 0, 0, 0.783) !important;
}

.copy{
    padding-top: 10px !important;
    height: 40px;
    color: rgb(238, 167, 0);
}

.bg-image{
    position: relative;
}