body{
    background-image: url(background.jpg);
    
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
margin-top: 10px;
    border-radius: 19px !important ;
    border: 2px solid white !important;
}
*{
    color: white !important;
}
#navbarNavDropdown{
    display: flex!important;
    justify-content:center!important; 
    align-items:center!important;
   margin-right: 100px !important ;
   margin: 12px;
   height: 10px;
    padding: 5px;

}
.nav-link:hover {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(20, 113, 219) !important;
    text-decoration: none;
    font-size: 17px;
    border-radius: 9px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}